<div class="contenedor">
	<section class="section">
		<ol class="breadcrumb">
			<li class=""><a [routerLink]="['/inicio']">Inicio</a></li>
			<li class="active">Lista de video</li>
			<li data-toggle="modal" id="agregar-video" data-target="#myModal" title="agregar video" class="pull-right agregarVideo">+</li>
		</ol>
		<app-agregar-video class="modal fade" id="myModal" role="dialog" ></app-agregar-video>
		<app-videos class="videos"></app-videos>
	</section>
	<app-contenido-derecho class="col-md-3"></app-contenido-derecho>
</div>