.contenedor {
	max-width: 87%;
	margin:auto;
}

.section {
	width: 75%;
	float: left;
	margin: auto;
}

.breadcrumb {
    background-color: white;
    border:1px;
    border-color: gray;
    border-style: solid;
    max-width: 700px;
}
.agregarVideo {
	font-weight: 700;
	color: #969494;
}
.agregarVideo:hover {
	cursor: pointer;
	color:#14149B;
}
@media screen and (max-width:900px){

	.contenedor {
		width:100%;
		max-width: 100%;
	}
	.section {
		width: 100%;
	}
	.videos {
		width: 100%;
	}
}