.videos-de-lista {
	max-width: 87%;
	margin: auto;
}

.breadcrumb {
    background-color: white;
    border:1px;
    border-color: gray;
    border-style: solid;
}
.agregarVideo {
	font-weight: 700;
	color: #969494;
}
.agregarVideo:hover {
	cursor: pointer;
	color:#14149B;
}
@media screen and (max-width:900px){
	
	.videos-de-lista {
		max-width: 100%;
	}
}