<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Agregar Articulo</h4>
    </div>
    <div class="modal-body">
      <input type="text" placeholder="titulo" class="input">
      <textarea class="tinymce"> </textarea>
      <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Agregar</button>
    </div>
  </div>
</div>