<section id="slider" class="container">
  <ul class="slider-wrapper">
  <li class="current-slide">
    <img src="http://d3cprjxvoejtmm.cloudfront.net/images/2017/05/09102114/goku.png" title="" alt="">

    <div class="caption">
      <h2 class="slider-title">Goku volando</h2>
      <p>Goku volando Goku volando Goku volando Goku volando.</p>
    </div>
  </li>

  <li>
    <img src="https://static.comicvine.com/uploads/original/11112/111122896/5256724-poster__1__gogeta_super_saiyan_4_by_dark_crawler-da5f21q.jpg" title="" alt="">

    <div class="caption">
      <h2 class="slider-title">Gogeta atacando</h2>
      <p>Gogeta atacando Gogeta atacando Gogeta atacando Gogeta atacando Gogeta atacando Gogeta atacando Gogeta atacando Gogeta atacando Gogeta atacando. Gogeta atacando Gogeta atacando Gogeta atacando</p>
    </div>
  </li>

  <li>
    <img src="https://img00.deviantart.net/6648/i/2016/322/e/9/super_vegetto_blue_by_lucario_strike-daovydt.png" title="" alt="">

    <div class="caption">
      <h2 class="slider-title">Veggita blue</h2>
      <p>Veggita blue Veggita blue Veggita blue Veggita blue</p>
    </div>
  </li>

  <li>
    <img src="http://www.peency.com/images/2015/06/29/freeza-transformation.jpg" title="" alt="">

    <div class="caption">
      <h2 class="slider-title">Freezer el alien</h2>
      <p>Freezer el alien Freezer el alien Freezer el alien Freezer el alien.</p>
    </div>
  </li>
  </ul>
  <!-- Sombras -->
  <div class="slider-shadow"></div>
  
  <!-- Controles de Navegacion -->
  <ul id="control-buttons" class="control-buttons"></ul>
</section>