<div class="container">
  <div class="row">
    <section class="col-md-9">
      <ol class="breadcrumb">
          <li class=""><a [routerLink]="['/inicio']">Inicio</a></li>
          <li class=""><a [routerLink]="['/lista-video']">Lista de Videos</a></li>
          <li class="active">video</li>
      </ol>
      <div *ngIf="videoInfo" >
        <div class="video-titulo-descripcion">
          <video class="video" #videoPlayer controls >
            <source src="mov_bbb.mp4" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            <source src="{{videoInfo.video_src}}">
            <span class="logo">ccc</span>
          </video>
          <div class="informacion-video">
            <div class="detalles">
          <strong class="vistas">6.789.418.552 views</strong>
              <h3 class="titulo">{{videoInfo.titulo}}</h3>
              <p class="descripcion">{{videoInfo.descripcion}}</p>
            </div>
            <div class="reaccion"> 
              <li class="fa fa-thumbs-o-down fa-2x reaccion-negativa" aria-hidden="true"> </li>
              <li type="button" class="fa fa-thumbs-o-up fa-2x reaccion-positiva" aria-hidden="true"></li>
              <span class="span caja"></span>
              <strong class="numeros-negativos">-25</strong>  <strong class="numeros-positivos"> 200 </strong>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-contenido-derecho></app-contenido-derecho>
  </div>
  <section style="float:left">
      <app-comentarios></app-comentarios>
  </section>
</div>