<div class="container">
  <div class="row">
    <section class="col-md-9">
      <ol class="breadcrumb">
          <li class=""><a [routerLink]="['/inicio']">Inicio</a></li>
          <li class=""><a [routerLink]="['/lista-video']">Lista de Videos</a></li>
          <li class="active">video</li>
      </ol>
      <div *ngFor="let videoInfo of videoInfo" >
        <div class="video-titulo-descripcion">
          <video class="video" #videoPlayer controls >
            <track kind="captions" src="assets/fonts/logo.vtt" label="Logo" default/>
            <source src="{{videoInfo.video_src}}">
            <span class="logo">ccc</span>
          </video>
          <div class="informacion-video">
            <div class="detalles">
              <strong class="vistas">6.789.418.552 views</strong>
                <div class="reaccion"> 
                  <li class="fa fa-thumbs-o-down reaccion-negativa" (click)="reaccionVideo('no')" aria-hidden="true"> </li>
                  <li type="button" class="fa fa-thumbs-o-up reaccion-positiva" (click)="reaccionVideo('si')" aria-hidden="true"></li>
                  <span class="span caja"></span>
                  <strong class="numeros-negativos">{{videoInfo.reaccionNegativa}}</strong>  <strong class="numeros-positivos">{{videoInfo.reaccionPositiva}}</strong>
                </div>
              <h3 class="titulo">{{videoInfo.titulo}}</h3>
              <p class="descripcion">{{videoInfo.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>
      <section class="comentarios">
        <div *ngFor="let videoInfo of videoInfo">
          <app-comentarios [idUnica]="videoInfo.uniqueID"></app-comentarios>
          <app-contenido-derecho class="visible-xs visible-sm"></app-contenido-derecho>
        </div>
      </section>
    </section>
      <app-contenido-derecho class="col-md-3 hidden-xs hidden-sm"></app-contenido-derecho>
  </div>
</div>