<div class="contenido">
  <section class="col-md-9">
    <div class="migas">
        <ol class="breadcrumb">
            <li class="active">Inicio</li>
            <li data-toggle="modal" data-target="#agregarArticulo" title="agregar articulo" class="agregarArticulo-li pull-right">+</li>
            <li [routerLink]="['/agregar']" class="agregarArticulo-li pull-right"> ˄ </li>
        </ol>
    </div>
    <app-agregar-articulo class="modal fade" id="agregarArticulo" role="dialog"></app-agregar-articulo>
    <div class="slider-container">
    </div>
    <article *ngFor="let articulo of articulos" class="post">
      <div class="media">
        <a href='#' class="Contenedor-Imagen pull-left">
            <img src='{{articulo.imagenURL}}' />
        </a>
        <h2 class="post-title-inicio">{{articulo.titulo}}</h2>
        <p><span class="post-fecha">{{articulo.fecha}}</span>  por <span class="post-autor"><a href="#">{{articulo.autor}}</a></span>
          <li class="fa fa-comments fa-lg"><small class="comentarioNo"> {{articulo.visitas}} </small></li></p>
        <p class="post-contenido text-justify">{{articulo.contenidoPreview}}</p>
        <a [routerLink]="['/articulo', articulo.idArticulo]"  class="direccion-articulo"></a>
      </div><br>
    </article><hr>
  </section>
  <app-contenido-derecho></app-contenido-derecho>
</div>