<div class="container">
  <div class="row">
    <section class="col-md-9">
      <ol class="breadcrumb">
          <li class=""><a [routerLink]="['/inicio']">Inicio</a></li>
          <li class="active">articulo</li>
      </ol>
      <div *ngFor="let articulo of informacionArticulo">
        <article class="clear-fix articulo">
          <div class="">
            <div [style.background-image]="'url('+ articulo.imagenURL +')'" class="contenedor-imagen-posteada">
              <div class="imagen-posteada">
                  <h3 class="h4">{{articulo.titulo}}</h3>
              </div>
            </div>
            <div class="reacciones">
              <i class="fa fa-eye reaccion">{{articulo.visitas}} </i>
              <i class="fa fa-clock-o reaccion">{{articulo.fecha}} </i>
              <i class="fa fa-user-o reaccion">{{articulo.autor}} </i>
              <i class="fa fa-edit reaccion">{{articulo.visitas}}</i>
              <i class="fa fa-share reaccion">{{articulo.visitas}}</i>
            </div><hr>
          </div>
          <div id='contenedor' onload="ver()" class="contenido-articulo">
            {{articulo.contenidoArticulo}}
          </div>
        </article><hr class="hr">
        <button class="btn btn-primary" (click)="ver()">ver </button>
      </div>
    </section>
    <app-contenido-derecho class=" col-md-3 hidden-xs hidden-sm"></app-contenido-derecho>
  </div>
</div>


<script>
</script>
