.navbar {
    background: transparent;
    box-sizing:border-box;
    box-shadow:0 0px 4px 0 rgba(0,0,0,.6);
    padding-top: 5px;
    padding-bottom: 5px;
}

.elementos-barra{
    margin-top: 5px;
}
.navbar a{
    color:#fff;
}

.letra1 {
    font-size: 23px;
    font-weight: 900;
    color:CornflowerBlue;
    letter-spacing: -1px;
    
}

.letra2 {
	font-size: 19px;
    color:#B6C90C ;
    font-family: fantasy;
}
.buscar {
    border-radius: 15px;
}
.direccion:hover{
    color:black;
}


.navbar i{
    color: #1B0F46;
text-shadow: none;
}
.direccion {
    color: #78C9EE;
}


