.navbar {
    background: rgb(250, 250, 250);
    box-sizing:border-box;
    box-shadow:0 0px 4px 0 rgba(0,0,0,.6);
    padding-top: 5px;
    padding-bottom: 5px;
}

.barra {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.elementos-barra{
    margin-top: 5px;
}
.navbar a{
    color:rgb(0, 0, 0);
}

.letra1 {
    font-size: 23px;
    font-weight: 900;
    color:CornflowerBlue;
    letter-spacing: -1px;
    
}

.letra2 {
	font-size: 19px;
    color:#B6C90C ;
    font-family: fantasy;
}
.buscar {
    border-radius: 15px;
}
.direccion:hover{
    color:black;
}
.dropdown-menu {
    padding-top:4;
}
.correo-clave {
    width: 94%;
    margin-left: 3%;
    padding-left: 6px;
    height: 35px;
    margin-bottom: 4px;
    line-height: 1.5;
    color: #3a3f51;
    background-color: #fff;
    border: 1px solid #dde6e9;
    border-radius: 4px;
}
.divider {
    margin-bottom: 2px;
    margin-top:0;
}
.login-button {
    margin:auto;
    width: 94%;
    margin-left: 3%;
    margin-right: 4%;
    margin-bottom: 0px;
    margin-top:1px;
    background-color: rgb(14, 102, 185);
    border:1px;
    color: white;
    border-style: solid;
    border-color: rgb(14, 102, 185);
}

.navbar i{
    color: #1B0F46;
text-shadow: none;
}
.direccion {
    color: #78C9EE;
}


