<nav class="navbar navbar-default barra">
    <div class="container-fluid elementos-barra ">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/inicio']">
            <small class="letra1">THE</small><small class="letra2">fight</small>
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a  [routerLink]="['/lista-video']" ><strong class="direccion">Lista de videos</strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" id="login" aria-expanded="false">Login<span class="caret"></span></a>
            <ul class="dropdown-menu" id="dropmenu">
              <form (ngSubmit)="logerarse(formulario.value)" #formulario="ngForm">
                <li><input name="correo" id="correo" class="correo-clave" placeholder="correo" ngModel></li>
                <li><input name="clave" id="clave" class="correo-clave" #clave="ngModel" required minlength="2" placeholder="clave" ngModel></li>
                <li><div *ngIf="clave.errors?.required && clave.touched"class="alert-danger text-center">Requerido</div></li>
                <li><div id="error" class="alert-danger text-center"></div></li>
                <li role="separator" class="divider"></li>
                <li><button class="login-button" type="submit">Entrar</button></li>
              </form>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" id="elementoescrito" nombre="elementoescrito" class="form-control buscar">
          </div>
          <a type="button" (click)="textoescrito()" style="color:black" class="btn btn-default buscar">buscar</a>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>